* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --accent: #6AABD2;
    --light: #F2F3F7;
    --dark: #141414;
    --mid: #727272;
}

body {
    background: var(--dark);
    color: var(--light);
    font-family: 'Alegreya', serif;
    font-size: 16px;
}

.topnav {
    position: sticky;
    top: 0;
    left: 0;
    height: 10.5vh;
    padding: 0px 15px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    text-align: center;
    z-index: 1;
}

.topnav .icon {
    display: none;
    color: var(--accent);
}

@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {
        display: none;
    } 
    .topnav a.icon {
        float: right;
        display: block;
    }
   .topnav.responsive {position: sticky; height: auto; background-color: var(--dark);}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        color: var(--accent);   
    }
    
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

@media screen and (min-width: 800px) {
    .topnav {display: flex; justify-content: space-around;}
}

.topnav.scrolled {
    background-color: var(--dark);
}

.topnav a {
    float: left;
    display: block;
    color: var(--light);
    text-decoration: none;
    text-align: center;
    padding: 15px 15px;
    font-size: 1.8rem;
    transition: 0.5s ease-in-out;
}

 .topnav a:hover {
    scale: 1.2;
    font-weight: bold;
    color: var(--accent);
}

.topnav a.highlight {
    scale: 1.2;
    font-weight: bold;
    color: var(--accent);
}


#hero {
    background-color: var(--mid);
    background-image: url(../CR/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    margin-top: -10.5vh;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    animation: heroAnim 5s ease-in-out 0s 1 normal forwards;
}

@keyframes heroAnim {
	0% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

#hero-text h1 {
    font-size: 7rem;
    padding: 25vh 0;
    opacity: 0;
    animation: herotextAnim 2s ease-in-out 1s 1 normal forwards;
}

@keyframes herotextAnim {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.button {
    position: fixed;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: 85vh auto;
    z-index: 1;
    font-size: 1.5rem;
    font-family:'Alegreya', serif;
    font-weight: bold;
    color: var(--light);
    background-color: var(--accent);
    padding: 12px 12px;
    border: none;
    border-radius: 12px;
    transition: 0.5s ease-in-out;
    text-decoration: none;

}

#hero .button:hover, #hero .button:focus {
    scale: 1.1;
    color: var(--accent);
    background-color: var(--light);
}

.blue {
    color: var(--accent);
    font-weight: bold;
}

.white {
    color: var(--light);
}

#aboutus {
    min-height: 65vh;
    padding-top: 20vh;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 20vh;
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

#aboutus p {
    font-size: 1.4rem;
    max-width: 500px;
}

#aboutus img {
    height: 60vh;
    max-width: 100%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

#products {
    min-height: 65vh;
    padding-top: 20vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 25px;
    background-color: var(--mid);
    background-image: url(./productsbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
}

.product {
    width: 30%;
    min-width: 300px;
    height: 60vh;
    text-align: center;
    border: var(--accent) solid 2px;
    text-decoration: none;
    transition: 0.5s ease-in-out;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.product:hover, .product:focus {
    box-shadow: 0 0 1px var(--light), 0 0 5px var(--light), 0 0 10px var(--accent), 0 0 20px var(--accent);
    text-shadow: 0 0 0.25px var(--light), 0 0 1.25px var(--light), 0 0 2.5px var(--accent), 0 0 5px var(--accent);
}

.product h2 {
    color: var(--accent);
    font-size: 1.5rem;
    padding: 15px 25px;
}

.product p {
    padding: 15px 25px;
    font-size: 1.3rem;
    color: var(--light);
}

.product h6 {
    padding: 15px 25px;
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--accent);
}

#contactus {
    min-height: 65vh;
    padding-top: 15vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20vh;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
}

.enquiry {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 60vh;
    min-width: 330px;
    border: var(--accent) 2px solid;
}

#enquiryheading {
    color: var(--accent);
    padding: 10px 0;
    font-size: 1.5rem;
    text-align: center;
}

form {
    padding: 15px 15px;
}

.contactinfo {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 60vh;
    min-width: 330px;
    border: var(--accent) 2px dashed;
}

.contactinfo h2 {
    padding: 15px 15px;
    font-weight: normal;
    font-family: 'Alegreya', serif;
    font-size: 1.7rem;
    color: var(--light);
}

.contactinfo span {
    color: var(--accent);
}

label {
    font-size: 1.4rem;
    font-weight: normal;
    color: var(--accent);
}


input[type=text] {
    width: 100%;
    padding: 15px 0px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: var(--mid);
    color: var(--light);
    font-family: 'Alegreya', serif;
  }

textarea {
    width: 100%;
    padding: 15px 0px;
    margin: 5px 0 22px 0;
    display: block;
    border: none;
    background: var(--mid);
    font-family: 'Alegreya', serif;
    color: var(--light);
  }

button {
    background-color: var(--accent);
    color: var(--light);
    display: block;
    font-size: 1.2rem;
    padding: 15px 20px;
    margin: 8px auto;
    border: none;
    cursor: pointer;
    width: fit-content;
    transition: 0.5s ease-in-out;
  }

  button:hover {
    background-color: var(--light);
    color: var(--accent);
  }


@media screen and (max-width: 800px) {
    body {font-size: 14px}
    #hero h1 {font-size: 5rem}
    #nomobile {display: none;}
    #aboutus p {text-align: center;}
    #aboutus img {height: auto; clip-path: none;}
    #aboutus {padding-bottom: 10vh; padding-top: 10vh;}
    #products {padding-bottom: 10vh; padding-top: 10vh;}
    #contactus {padding-top: 10vh; font-size: 1.2rem}
}

@media screen and (max-width: 400px) {
	body {font-size: 12px}
	#hero h1 {overflow: wrap}
	#contactinfo h2 {font-size: 0.8rem}
}
